.products-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 10px;
}
.product-item {
    background-color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.item-imgBx {
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
}
.item-main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.item-main .title {
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.item-main .price span {
    color: #fff;
    font-weight: 700;
}
.item-main .add-btn {
    background-color: #fff;
    margin-top: auto;
    width: 100%;
    border-radius: 10px;
    padding: 7px 0;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border: 2px solid #fff;
}
.item-main .add-btn.added {
    background-color: #000;
    color: #fff;
}
.item-main .add-btn svg {
    max-width: 10px;
    margin-right: 5px;
    transition: .4s;
}
.item-main .add-btn svg path {
    transition: .4s;
}