.products-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 10px;
}
.product-item {
    background-color: var(--tg-theme-text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.item-imgBx {
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
}
.item-main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.item-main .title {
    color: var(--tg-theme-bg-color);
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 22px;
}
.item-main .price span {
    color: var(--tg-theme-bg-color);
    font-weight: 700;
}
