.offer-box {
    margin-top: 20px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}
.offer-wrapper {
    margin-bottom: 30px;
}
.offer-inputBx input {
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--tg-theme-bg-color);
    padding: 15px 20px;
    width: 100%;
    color: var(--tg-theme-bg-color);
}
.offer-inputBx textarea {
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--tg-theme-bg-color);
    padding: 15px 20px;
    width: 100%;
    resize: none;
    color: var(--tg-theme-bg-color);
}
.offer-inputBx .error input {
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #f31e1e;
    color: #f31e1e;
}
.offer-counts__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offer-counts__item span:first-child{
    font-size: 18px;
}
.offer-counts__item span:last-child{
    font-weight: 700;
    font-size: 18px;
}
.offer__notice {
    font-size: 16px;
    margin-top: 20px;
}

.offer-buttonBx {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--tg-theme-bg-color);
    padding: 10px;
}
.offer-button {
    background: var(--tg-theme-button-color);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border-radius: 6px;
}