body {
    background: var(--tg-theme-bg-color);

}
* {
    color: var(--tg-theme-text-color);
    line-height: 19px;
}
.add-btn {
    background-color: var(--tg-theme-text-color);
    margin-top: auto;
    width: 100%;
    border-radius: 10px;
    padding: 7px 0;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border: 2px solid var(--tg-theme-text-color);
    font-size: 16px;
    color: #000;
}
.add-btn.added {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}
.add-btn svg {
    max-width: 10px;
    margin-right: 5px;
    transition: .4s;
}
.add-btn svg path {
    transition: .4s;
}